[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coveffectsplot"]
	path = coveffectsplot
	url = https://github.com/smouksassi/coveffectsplot
[submodule "ggquickeda"]
	path = ggquickeda
	url = https://github.com/smouksassi/ggquickeda
